body{
    background-color: #060505;
    z-index: -100;
}
.book{
    width: 80%;
    padding: 0;
}
.book_screen img{
    width: 100%;
}
.seats button{
    margin: 3px;
    height: 42px;
    width: 42px;  
}
.seat_item p{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.note{
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
.note-item{
    height: 42px;
    width: 42px;
    border-radius: 5px;
}
.note p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.contain-item{
    width: 100%;
    margin: 0 auto;
}
.film-infor,.book-infor,.pay{
    margin-bottom: 20px;
    border: solid 1px;
    border-radius: 20px;
    background-color: #1118279e;
}
.film, .pay,.film-infor-item,.book-infor-item,.payment-method,.total,.btnAndnote{
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;
}
.payment-method img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
}
.book-infor-item table{
    width: 100%;
}
.btnAndnote button{
    background-color: rgb(245, 29, 29);
    width: 80%;
    height: 35px;
    margin: auto;
    border-radius: 5px;
}
.btnAndnote button:hover{
    background-color: rgb(179, 30, 30);
}
.btnAndnote p ,#movie-time{
    color: rgb(255, 217, 0);
}
.btnAndnote p {
    margin-top: 10px;
}

.btnAndnote button {
    line-height: 100%;
    padding: 2% 4%;
    background-image: linear-gradient(45deg, rgb(46, 116, 255), rgb(181, 22, 255), rgb(220, 0, 165), rgb(220, 0, 165), rgb(181, 22, 255), rgb(46, 116, 255));
    border: none;
    border-radius: 0.6rem;
    color: white;
    background-position: left;
    background-size: 200%;
    transition: 0.3s;
}
.btnAndnote button:hover {
    transform: scale(1.1);
    background-position: right;
}





@media only screen and (max-width: 340px) {
    h3{
        font-size: 15px;
    }
    .book{
        width: 100%;
    }
    .seats button{
        height: 20px;
        width: 14.4px;  
        margin: 0.5px;
        border: 0;
        border-radius: 3px;
        padding: 10px;
    }
    .seat_item p{
        font-size: 7px;
    }
    .note{
        margin: 20px auto;
        display: flex;
        flex-direction: column;
    }
    .note div{
        margin-left: 30px;
    }
    .note-item{
        height: 20px;
        width: 20px;
        border-radius: 2px;
    }
    .note p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .contain-item h5{
        font-size: 15px;
    }

    .contain-item  p{
        font-size: 12px ;
    }

    .contain-item span{
        font-size: 12px;
    }
    .book-infor th{
        font-size: 12px;
    }
    .book-infor td{
        font-size: 12px;
    }
    .payment-method img{
        width: 25px;
        height: 25px;
        border-radius: 3px;
    }
}

@media only screen and (min-width: 340px) and (max-width: 550px) {
    h3{
        font-size: 22px;
    }
    .book{
        width: 100%;
    }
    .seats button{
        height: 25px;
        width: 25px;  
        margin: 1px;
        border: 0;
        border-radius: 5px;
        padding: 10px;
    }
    .seat_item p{
        font-size: 10px;
    }
    .note{
        margin: 20px auto;
        display: flex;
        flex-direction: column;
    }
    .note div{
        margin-left: 30px;
        margin-top: 3px;
    }
    .note-item{
        height: 25px;
        width: 25px;
        border-radius: 2px;
    }
    .note p{
        font-size: 12px;
        margin-top: 8px;
        margin-left: 30px;
    }

    .contain-item h5{
        font-size: 18px;
    }
    .contain-item  p{
        font-size: 12px ;
    }
    .contain-item span{
        font-size: 15px;
    }
    .book-infor th{
        font-size: 12px;
    }
    .book-infor td{
        font-size: 12px;
    }
    .payment-method img{
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 850px) {
    h3{
        font-size: 27px;
    }
    .book{
        width: 100%;
    }
    .seats button{
        height: 30px;
        width: 30px;  
        margin: 3px;
        border: 0;
        border-radius: 5px;
        padding: 10px;
    }
    .seat_item p{
        font-size: 12px;
    }
    .note{
        margin: 20px auto;
        display: flex;
        flex-direction: row;
    }
    .note-item{
        height: 30px;
        width: 30px;
        border-radius: 5px;
    }
    .note p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .contain-item h5{
        font-size: 20px;
    }
    .contain-item  p{
        font-size: 12px ;
    }
    .contain-item span{
        font-size: 17px;
    }
    .book-infor th{
        font-size: 12px;
    }
    .book-infor td{
        font-size: 12px;
    }
    .payment-method img{
        width: 35px;
        height: 35px;
        border-radius: 7px;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1100px) {
    h3{
        font-size: 30px;
    }
    .book{
        width: 90%;
    }
    .seats button{
        height: 35px;
        width: 35px;  
        margin: 4px;
        border: 0;
        border-radius: 8px;
        padding: 10px;
    }
    .seat_item p{
        font-size: 16px;
    }
    .note{
        margin: 20px auto;
        display: flex;
        flex-direction: row;
    }
    .note-item{
        height: 35px;
        width: 35px;
        border-radius: 6px;
    }
    .note p{
        font-size: 15px;
        margin-bottom: 15px;
    }
    
    .contain-item h5{
        font-size: 20px;
    }
    .contain-item  p{
        font-size: 12px ;
    }
    .contain-item span{
        font-size: 17px;
    }
    .book-infor th{
        font-size: 16px;
    }
    .book-infor td{
        font-size: 16px;
    }
    .payment-method img{
        width: 35px;
        height: 35px;
        border-radius: 7px;
    }
}


/* minh css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.movie-inf {
    width: 100%;
}

.section1{
    margin: 0 auto 3%;
    background: linear-gradient(rgba(0, 0, 0, 0.944), rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.911));
    position: relative;
    top: 70px;
    padding: 4%;
    left: 0;
    right: 0;
    width: 100%;

}
.section1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assests/img/movies-thumbs/spiderman-wide.webp');
    z-index: -1;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.movie_img, .introduce{
    padding: 10px !important;
}

.movie_img, .introduce > p {
    font-size: 0.9rem;
    margin: 1% 0;
}

.movie_img, .introduce .notice {
    margin-top: 2%;
    font-size: 1.05rem;
}

.movie_information{
    overflow: hidden;
}

.text_modal_header{
    padding: 0;
}

.section2 {
    display: flex;
    justify-content: center;
}



.film_img{
    border-radius: 10px;
    max-height: 450px;
    object-fit: contain;
    padding: 0 !important;
}

.film_name{
    font-size: 2.1rem;
    font-weight: 530;
}

.more_infomation{
    display: flex;
}

.watch_trailer{
    margin-left: 15%;
    height: 50px;
    width: 120px;
    border-radius: 15px;
    border-width: 3px;
}

.mymodal{
    background: rgb(0, 0, 0);
}

@media only screen and (max-width: 760px) {
    .introduce{
        text-align: center;
    }
    .more_infomation{
        justify-content: center;
    }
    .section1{
        margin-bottom: 15%;
        top: 70px;
    }
    .section1::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../assests/img/movies-thumbs/spiderman.webp');
        z-index: -1;
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: top;
    }
}


/* TAP DATE TIME */
.select_date{
    background-color: #131415;
}

.tap_date, .select_cmt{
    color: white;
}

.select_time{
    margin: 5px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
}

.tab_date_list{
    justify-content: center;  
}

.time{
    width: fit-content;
    border: 1px solid;
    border-radius: 30px;  
}

@media only screen and (max-width: 320px){
    .select_date{
        margin-top: 10px;
    }
}

    /* TRAILER IN MODAL*/
.mytrailer{
    max-height: max-content;
    height: 500px;
}

@media only screen and (max-width: 990px) {
    .mytrailer{
        max-height: max-content;
        height: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .mytrailer{
        max-height: max-content;
        height: 200px;
    }
}

@media only screen and (max-width: 350px) {
    .mytrailer{
        max-height: max-content;
        height: 150px;
    }
}
@media only screen and (max-width: 420px){
    .introduce p{
        margin-left: 5%;
    }
}

/* CMT BOX */
.cmtbox{
    width: 100vw;
}

.checked {
    color: orange;
}

.cmttap{
    margin-left: 5%;
    margin-top: 20px;
}

/*  LAST CMT */
.infor{
    width: 60%;
    display: flex;
    margin-bottom: 0;
}

.bigcmt{
    margin-bottom: 10px;
    width: 100%;
}

.imgavt{
    width: 10%;
    height: 10%;
    padding-top:  8px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    object-fit: cover;
}

.name{
    font-size: 20px;
    padding: 15px;
    margin-bottom: 0;
}

.cmt{
    width: 100%;
    font-size: 30px;
}

/* RES LAST CMT */
@media only screen and (max-width: 3000px){
    .imgavt{
        width: 8%;
        height: 8%;
    }
}

@media only screen and (max-width: 1400px) {
    .imgavt{
        width: 9%;
        height: 9%;
    }
}

@media only screen and (max-width: 1200px) {
    .imgavt{
        width: 11%;
        height: 11%;
    }
    .numstar{
        width: 80%;
    }
}

@media only screen and (max-width: 995px) {
    .imgavt{
        width: 14%;
        height: 14%;
    }
}

@media only screen and (max-width: 767px) {
    .imgavt{
        width: 19%;
        height: 19%;
    }
    .watch_trailer{
        width: 90px;
        height: 40px;
    }
    .film_img{
        margin-left: 5%;
    }
    .movie_img{
        padding: 0;
    }
    .introduce{
        padding-right: 0 !important ;
    }
    .film_name{
        margin-left: 5%;
    }
}

@media only screen and (max-width: 600px) {
    .imgavt{
        width: 17%;
        height: 17%;
    }
}

@media only screen and (max-width: 500px) {
    .imgavt{
        width: 22%;
        height: 22%;
    }
}

@media only screen and (max-width: 450px) {
    mgavt{
        width: 23%;
        height: 23%;
        padding-top: 18px;
    }
    .watch_trailer{
        width: 80px;
        height: 35px;
    }
}

.cmtform
{
width: 600px;
border: 2px solid #333;
padding: 15px 10px;
}

.cmtform h2
{
text-align: center;
margin-bottom: 15px
}

.cmtform textarea
{
height: 20px;
width: 100%;
border: none;
border-bottom: 1px solid #aaa;
background-color: transparent;
margin-bottom: 10px;
resize: none;
outline: none;
transition: .5s
}

.cmtform input[type="submit"], .cmtform button
{
padding: 10px 15px;
border: none;
outline: none;
border-radius: 5px;
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
}

.cmtform input[type="submit"]
{
color: #fff;
background-color: #273c75
}

.cmtform button
{
color: #333;
background-color: transparent
}

.cmtform .btn
{
display: none
}

/* STAR RATE */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    width: 30%;
}

.rate:not(:checked) > input {
    display: none;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.entercmt{
    width: 70%;
    display: flex;
    justify-content: right;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

/* CMTFORM */
.cmtform{
    padding: 0;
    width: 70%;
    margin: 10px auto;
    height: 170px;
}

.cmtbox{
    height: 30px !important;
    margin-bottom: 0;
    padding: 2px;
}

.formbtn{
    display: flex;
    width: 100%;
}

.cmtform h2{
    font-size: 25px;
}

/* RES CMT FORM */
@media only screen and (min-width: 1250px) {
    .cmtform{
        height: 200px;
    }
    .rate {
        width: 20%;
        height: 70px;
    }
    .entercmt{
        width: 80%;
        padding: 3px;
    }
}

@media only screen and (max-width: 1250px) {
    .cmtform{
        height: 200px;
    }
    .rate {
        width: 30%;
        height: 70px;
    }
    .entercmt{
        width: 70%;
        padding: 3px;
    }
}

@media only screen and (max-width: 850px) {
    .rate {
        width: 40%;
        
    }
    .entercmt{
        width: 60%;
        height: 40px;
        padding: 3px;
    }
    .cmtform{
        height: 140px;
    }
    .starsubmit, .starcancel{
        font-size: 11px;
    }
    .cmtform>h2{
        font-size: 22px;
    }
}

@media only screen and (max-width: 650px) {
    .rate {
        width: 50%;
        
    }
    .entercmt{
        width: 50%;
        height: 40px;
        padding: 3px;
    }
    .cmtform{
        height: 140px;
    }
    .starsubmit, .starcancel{
        font-size: 9px;
    }
    .cmtform>h2{
        font-size: 18px;
    }
}

@media only screen and (max-width: 502px) {
    .rate {
        width: 70%;
        height: 10px;
        margin-left: -50px;
    }
    .entercmt{
        width: 30%;
        height: 40px;
        padding: 3px;   
        margin-left: 50px;
    }
    .starsubmit, .starcancel{
        font-size: 9px;
        margin-left: 0;
    }
    .cmtform{
        height: 140px;
    }
}

@media only screen and (max-width: 440px){
    .cmtform{
        margin: 0;
        margin-top: 10px;
    }
    .cmtbox, .cmtform{
        width: 100% !important;
    }
}

@media only screen and (max-width: 300px){
    .cmtform{
        margin: 0;
        margin-top: 10px;
    }
    .cmtbox, .cmtform{
        width: 100% !important;
    }
    .starsubmit, .starcancel{
        padding: 0 !important;
        font-size: 7px !important; 
    }
    .rate{
        margin-left: -20px;
        padding: 0;
    }
    .entercmt{
        margin-left: 10px;
    }
    .starsubmit{
        margin: 7px;
    }
}

/* RES CMT */
@media only screen and (max-width: 340px){
    .name{
        font-size: 12px !important;
    }
    .cmt{
        font-size: 17px !important;
    }
}

@media only screen and (min-width: 340px) {
    .name{
        font-size: 15px !important;
    }
    .cmt{
        font-size: 22px !important;
    }
}

/* ADD HOVER */
.more_infomation .clickxemnd {
    text-decoration: none;
}

.clickxemnd:hover{
    color: rgb(62, 100, 238) !important;
}

.tap_date:hover{
    color: white;
}

.select_cmt:hover{
    color: white;
}

.select_time:hover{
    color:white;
    background-color:gray;
}

.select_timeactive{
    color:black;
    background-color:white;
}


.starsubmit:hover{
    background-color: red !important;
}
.starcancel:hover{
    background-color: #333 !important;
    color: #fff;
}











