/* main */
body {
    color: white;
}

main h1 {
    text-align: center;
    margin: 8% 10px 2%;
    font-size: 1.8rem;
    font-weight: 540;
}

main {
    padding: 0 2%;
    margin-bottom: 6%;
}

main .img{
    width: 100%;
    object-fit: cover;
}

#content1 img{
    width: 100%;
    height: 200px;
    padding-right: 10x;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

main button {
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(45deg, rgb(46, 116, 255), rgb(181, 22, 255), rgb(220, 0, 165), rgb(220, 0, 165), rgb(181, 22, 255), rgb(46, 116, 255));
    background-position: left;
    background-size: 200%;
    transition: 0.3s;
    color: white;
    padding: 0.3% 1%;
    font-size: 0.9rem;
    font-weight: 520;
}

main button:hover {
    transform: scale(1.05);
    background-position: right;
}

main .container {
    text-align:justify;
    margin-top: 20px;

}

main .container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 10px 10px;
    font-size: 0.8rem;
}

main .col-md-4 img {
    height: 220px;
    width: 100%;
    border-radius: 10px;
    /* text-align: center; */
    margin: 10px;
}






@media (max-width: 768px) {
    main h1 {
        margin: 30% 10px 8%;
    }

    main button {
        padding: 0.4% 1%;
        font-size: 0.8rem;
        font-weight: 520;
    }
}