/* Large layout navbar*/

/* navbar --------------------------------------------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: var(--nav-bg-lg-layout); 
    color: #fff;
    width: 100vw;
    z-index: 1000;
    
}

nav .navbar {
    height: 100%;
    max-width: 100%;
    margin: auto;
    padding: 0 1rem;
    position: relative;
}


/* logo brand --------------------------------------------------------*/
nav .navbar .logo-brand {
    width: fit-content;
}

nav .navbar .logo-brand a {
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: all 0.1s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
}

nav .navbar .logo-brand:hover a {
    font-size: 1.5rem;
}

.movie-logo {
    width: 2rem;
}


/* Menu --------------------------------------------------------*/
nav .navbar .nav-links {
    height: 100%;
    line-height: 70px;
}

nav .navbar .nav-links .links{
    display: flex;
}

nav .navbar .nav-links .links li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 0.6rem;
}

nav .navbar .nav-links .links li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    height: 100%;
    white-space: nowrap;
    font-size: 0.78rem;
    font-weight: 600;
}


nav .navbar .nav-links .links li:active > a {
    color: #b07ccc;
}





/* Arrow of menu --------------------------------------------------------*/
nav .navbar .nav-links .links li .arrow {
    height: 100%;
    line-height: 70px;
    text-align: center;
    width: 22px;
    transition: all 0.3s ease;
}

nav .navbar .nav-links .links .arrow {
    font-size: 0.6rem;
}

nav .navbar .nav-links .links li:hover .branch-arrow{
    transform: rotate(180deg);
}
nav .navbar .nav-links .links li.branch-4:hover .branch-4-arrow{
    transform: rotate(90deg);
}


/* subnav - submenu --------------------------------------------------------*/
nav .navbar .nav-links .links .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    background: var(--nav-bg-lg-layout); 
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 0;
}

nav .navbar .nav-links .links .sub-menu li {
    padding: 0 1rem;
    border-bottom: 1px solid var(--nav-bg-lg-layout);
}

nav .navbar .nav-links .links .sub-menu li a{
    text-transform: capitalize;
    font-size: 0.75rem;
    font: 500;
    transition: all 0.1s;
}

nav .navbar .nav-links .links .sub-menu li:hover a{
    font-size: 0.8rem;
}


/* arrow of subnav --------------------------------------------------------*/
nav .navbar .nav-links .links .sub-menu li .branch-4-arrow {
    line-height: 40px;
}

/* submenu's submenu :)) --------------------------------------------------------*/
nav .navbar .nav-links .links li:hover .branch-sub-menu,
nav .navbar .nav-links .links .branch-4:hover .branch-4-sub-menu{
    display: block;
}

nav .navbar .nav-links .links .branch-4 .branch-4-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    display: none;
}

/* search and account --------------------------------------------------------*/
.navbar .nav-right {
    position: absolute;
    right: 2%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.navbar .nav-right .account {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .account i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
}

.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.navbar .search-box .input-box {
    height: 60px;
    width: 300px;
    position: absolute;
    top: 50px;
    right: calc(100% - 40px);
    border-radius: 5%;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.navbar.showInput .search-box .input-box{
    top: 50px;
    opacity: 1;
    pointer-events: auto;
}

.navbar.showInput .search-box .input-box .seach-submit {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 100%;
    transform: translate(-180%, -50%);
    font-size: 0.9rem;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.navbar.showInput .search-box .input-box .seach-submit:hover {
    font-size: 0.95rem;
}


.navbar .search-box .input-box input{
    position: absolute;
    height: 35px;
    width: 280px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0.4rem;
    padding-right: 1.5rem;
    font-size: 0.7rem;
    background: transparent;
    border: 1px solid white ;
    border-radius: 5px;
    color: white;
}

.search-box .search-icon::before,
.account .acount-icon::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    transition: background 0.2s ease;
}



.search-box:hover .search-icon::before,
.account:hover .acount-icon::before {
    background: linear-gradient(50deg, rgba(100, 44, 255, 255), rgba(255, 63, 185, 255));
}



/* hide sidebar at large layout--------------------------------------------------------*/



.links li {
    position: relative;
}

@media (min-width: 954px) {

    .navbar .fa-bars,
    .nav-links .sidebar-logo-brand .logo-brand-name,
    .nav-links .sidebar-logo-brand .exit-sidebar{
        display: none;
    }

    nav .navbar{
        backdrop-filter: blur(10px);
    }
    
    nav .navbar .nav-links .links{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    /* hover nav links */
    .links > li > a::before {
        content: "";
        position: absolute;
        left: 2%;
        right: 2%;
        bottom: 20%;
        height: 2px;
        background: linear-gradient(45deg, rgb(46, 116, 255), rgb(181, 22, 255), rgb(220, 0, 165), rgb(181, 22, 255), rgb(46, 116, 255));
        border-radius: 50%;
        transform: scale(0);
        transition: all 0.3s ease;
    }


    .links li:hover a::before{
        transform: scale(1);
    }

}


/* medium nav layout --------------------------------------------------------*/
@media (max-width: 954px) {
    nav .navbar {
        max-width: 100%;
    }

    nav .navbar .nav-links .links .sub-menu{
        background: var(--nav-bg-lg-layout); 
    }

    .links > li > a::before {
        right: 45%;
    }
    
    .navbar{
        background-color: var(--nav-bg-sm-layout);
    }

    /* sidebar nav --------------------------------------------------------*/
    nav .navbar .nav-links {
        display: block;
        position: fixed;
        background-color: var(--nav-bg-sm-layout);
        top: 0;
        left: -100%;
        max-width: 270px;
        width: 100%;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease; 
        backdrop-filter: blur(10px);
        z-index: 1000;
    }

    nav .navbar .logo-brand {
        width: fit-content;
    }
    
    nav .navbar .logo-brand a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* sidebar logo brand --------------------------------------------------------*/
    .navbar .nav-links .sidebar-logo-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links .sidebar-logo-brand{
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    /* sidebar exit btn --------------------------------------------------------*/
    .nav-links .sidebar-logo-brand .exit-sidebar {
        display: block;
        color: #fff;
        font-size: 1rem;
        z-index: 2000;
    }


    /* sidebar menu--------------------------------------------------------*/
    
    .nav-links .sidebar-logo-brand .logo-brand-name{
        display: block;
        color: #fff;
        font-size: 25px;
        font-weight: 500;
    }

    .navbar .fa-bars {
        font-size: 1rem;
        display: block;
    }
    


    nav .navbar .nav-links .links {
        display: block;
        margin-top: 20px;
    }

    nav .navbar .nav-links .links li {
        display: block;
        
    }

    /* sidebar submenu--------------------------------------------------------*/
    nav .navbar .nav-links .links li .sub-menu {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);
    }

    nav .navbar .nav-links .links li .sub-menu li{
        border-bottom: none;
    }


    /* sidebar submenu's submenu--------------------------------------------------------*/
    nav .navbar .nav-links .links li:hover .branch-sub-menu,
    nav .navbar .nav-links .links li:hover .sub-menu .branch-4-sub-menu{
        display: none;
    }
    

    nav .navbar .nav-links .links li .sub-menu .branch-4-sub-menu{
        display: none;
        position: relative;
        left: 0;
    }

    nav .navbar .nav-links .links li .sub-menu .branch-4-sub-menu li{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .navbar .nav-links.show1 .links .sub-menu.branch-sub-menu{
        display: block;
    }
    nav .navbar .nav-links.show2 .links .branch-4 .sub-menu.branch-4-sub-menu{
        display: block;
    }
 branch-arrow
    /* sidebar all arrow--------------------------------------------------------*/
    nav .navbar .nav-links .links li .arrow {
        line-height: 40px;
    }

    nav .navbar .nav-links .links li:hover .branch-arrow,
    nav .navbar .nav-links .links li.branch-4:hover .branch-4-arrow{
        transform: rotate(0deg);
    }

    nav .navbar .nav-links.show1 .links li:hover .branch-arrow{
        transform: rotate(180deg)
    }
    nav .navbar .nav-links.show2 .links li.branch-4:hover .branch-4-arrow{
        transform: rotate(90deg);
    }

}





/* -------------------------------login-signup ----------------------------------------- */

.sign-modal-content {
    margin: auto;
    border: none;
    background-color: transparent;
    height: 95vh;
    /* overflow: hidden; */

}

.sign-modal-body {
    background-color: transparent;
    position: relative;
}

#login,
#signup,
#reset-pass {
    color: white;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    background: linear-gradient(45deg, #01ccffd8, #c001ffd8, #ff0059, #c001ffd8, #01ccffd8);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    border-radius: 3%;
    transition: all 0.5s ease-in-out;
}

#signup {
    left: -55%;
    opacity: 0;
}

#reset-pass {
    left: 155%;
    opacity: 0;
}



@media (min-width: 800px) {
    #login,
    #signup,
    #reset-pass,
    .sign-modal-content{
        width: 40vw;
        max-width: 450px;
        min-width: 450px;
    }
}


@media (max-width: 800px) {
    #login,
    #signup,
    #reset-pass,
    .sign-modal-content{
        width: 80vw;
        min-width: 250px;
    }
    
}

#login::before,
#signup::before,
#reset-pass::before {
    content: "";
    position: absolute;
    left: 0.6%;
    top: 0.6%;
    bottom: 0.6%;
    right: 0.6%;
    background-color: rgb(0, 0, 0);
    border-radius: 3%;
    z-index: -1000;
}

.close-sign-form {
    position: absolute;
    top: 2%;
    right: 3%;
    background-color: transparent;
    border: none;
    color: white;

}

.email-pass-acc {
    margin-top: 10%;
}

.email-pass-acc label {
    font-size: 0.85rem;
    margin-top: 4%;
    margin-bottom: 0;
}

.login-form-header,
.signup-form-header,
.reset-pass-form-header {
    font-size: 1.3rem;
    margin-top: 3%;
}

#signin-form,
#signup-form,
#reset-pass-form{
    text-align: left;
    width: 80%;
    margin: 4% auto;
}

.input-field {
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
}


.email-sign-input-field,
.password-sign-input-field,
.phone-sign-input-field,
.name-sign-input-field,
.reset-pass-input-field {
    margin-top: 0;
    border: 1px solid rgba(255, 255, 255, 0.329);
    border-radius: 6px;
    translate: all 0.4s;
}

.input-icon {
    font-size: 0.8rem;
    margin-left: 1.5%;
}

#email-sign, #password-sign,
#email-sign-up, #name-sign-up, #password-sign-up, #phone-sign-up, #password-sign-up-rp,
#reset-pass-input
{
    position: absolute;
    font-size: 0.7rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 9%;
    background: transparent;
    color: white;
    border: none;
}

#email-sign:focus, #password-sign:focus,
#email-sign-up:focus, #name-sign-up:focus, #password-sign-up:focus, #phone-sign-up:focus, #password-sign-up-rp:focus,
#reset-pass-input:focus {
    outline: none;
}

.show-tog, 
.hide-tog {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    cursor: pointer;
}

#pass-toggle {
    & .show-tog{
        display: block;
    }

    & .hide-tog{
        display: none;
    }
}

#pass-toggle.hide {
    & .show-tog{
        display: none;
    }

    & .hide-tog{
        display: block;
    }
}

#pass-toggle-sn {
    & .show-tog{
        display: block;
    }

    & .hide-tog{
        display: none;
    }
}

#pass-toggle-sn.hide {
    & .show-tog{
        display: none;
    }

    & .hide-tog{
        display: block;
    }
}

#pass-toggle-sn-rp {
    & .show-tog{
        display: block;
    }

    & .hide-tog{
        display: none;
    }
}

#pass-toggle-sn-rp.hide {
    & .show-tog{
        display: none;
    }

    & .hide-tog{
        display: block;
    }
}


.remember-and-forget-log {
    margin-top: 6%;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
}


.forget-log a {
    color: white;
    text-decoration: none;
}

label[for="remember"] {
    font-size: 0.7rem;
}

.submit {
    text-align: center;
    width: 100%;
    margin-top: 7%;
}

#login-sub,
#signup-sub,
#reset-sub {
    font-size: 0.9rem;
    color: white;
    width: 100%;
    padding: 3px 0;
    border-radius: 15px;
    border: none;
    background: linear-gradient(50deg, rgb(100, 44, 255), rgb(255, 63, 185), rgb(255, 63, 185), rgb(100, 44, 255));
    background-position: left;
    background-size: 200%;
    transform: scale(0.98);
    transition: 0.1s ease;
}

#reset-sub {
    font-size: 0.8rem;
}

#login-sub:hover,
#signup-sub:hover,
#reset-sub:hover {
    background-position: right;
    transform: scale(1);
}


.sign-with {
    text-align: center;
}

.sign-with-text {
    font-size: 0.8rem;
    margin-top: 6%;
    margin-bottom: 1%;
}

.goo-icon,
.face-icon {
    width: 6%;
    margin: 0 2%;
}

.change-sign-up {
    margin-top: 5%;
    text-align: center;
}

#to-sign-up-link,
#to-login-link{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

#back-login-link {
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
}

.forget-log a:hover,
#to-sign-up-link:hover,
#to-login-link:hover,
#back-login-link:hover {
    color: aqua;
}

#reset-pass-guide {
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 0;
}

/* validate css */
.input-field .error {
    font-size: 0.57rem;
    position: absolute;
    bottom: -70%;
    color: #ff3860;
}



.input-field.success {
    border-color: #09c372;
}

.input-field.error {
    border-color: #ff3860;
}

/* Footer */
footer {
    height: fit-content;
    background-color: #33324260;
    border-top: 1px solid rgba(255, 255, 255, 0.134);
    padding: 2%;
    width: 100vw;
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
}

.company,
.contact,
.term-privicy {
    width: fit-content;
}

.footer-logo-brand a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 550;
}

.footer-heading {
    font-size: 1rem;
}

.footer-logo-brand .footer-logo{
    width: 2rem;
    transition: all 0.2s;
}

.footer-logo-brand a:hover  {
    & .footer-logo{
        transform: rotate(10deg);
    }
    
    color: #b7b7b7;
}

.footer-logo-brand a:active{    
    color: #b07ccc;
}

.Company .slogan{
    font-style: italic;
}



.contact-list a,
.contact-list p,
.service-footer a,
.term-privicy a{
    color: white;
    text-decoration: none;
    margin: 0;
}

.footer-icon {
    transition: all 0.2s;
}

.contact-list a:hover {
    color: #a5a5a5;

    & i {
        font-size: 0.9rem;
    }
}

.contact-list a:active {
    color: #b07ccc;
}

.service-footer a:hover,
.term-privicy a:hover {
    color: #a5a5a5;
}

.service-footer a:active,
.term-privicy a:active {
    color: #b07ccc;
}


.contact-list,
.service-footer,
.term-privicy {
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px) {
    .contact,
    .service-footer {
        border-left: 1px solid rgba(255, 255, 255, 0.467);
        border-right: 1px solid rgba(255, 255, 255, 0.467);
    }
}


@media (max-width: 768px) {

    .contact {
        padding: 1% 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.467);
        margin: 2% 0;
    }

    .term-privicy {
        padding: 1% 0;
        border-top: 1px solid rgba(255, 255, 255, 0.467);
    }
    
    footer {
        text-align: center;
    }
}