/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* color vari, and.... */
:root {
    --main-bg: rgb(6, 0, 12);
}



/*universal*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    width: 100vw;
    height: 100%;
    font-size: calc(15px + 0.390625vw);
    overflow-x: hidden;
}

body {
    background-color: var(--main-bg);
    width: 100%;
    height: 100%;
}

.white-text {
    color: white !important;
}