

/* main */

*{
    color: #fff;
}

main {
    margin-bottom: 6%;
}
main .container{
    width: 80rem;
    /*max-width: 80%;*/
    margin: 0 auto;
}
main h1 {
    text-align: center;
    margin: 8% 10px 2%;
    font-size: 1.8rem;
    font-weight: 540;
}
main .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

main .img{
    width: 100%;
    object-fit: cover;
}

main .content{
    padding: 1rem;

}

main .content h3{
    font-size: 1rem;
}

main div + h3{
    text-align: center;
    padding: 2rem;
}


main .content .day{
    margin: 0;
    margin-bottom: 10px;
    font-size: 0.65rem;
    color: #a5a5a5;
}

main .content a{
    color: rgb(210, 210, 210);
    text-decoration: none;
}
main img{
    /*position: absolute;*/
    width: 100%;
    /*height: 60%;*/
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

main .item-km{
    border: 1px solid #ffffff44;
    border-radius: 10px;
    overflow: hidden;
}

main .item-km .img{
    overflow: hidden;
}

main .item-km:hover{
    & img{
        transform: scale(1.15);
    }
    
    & a h3 {
        color: #ffffff;
        font-size: 1.02rem;
    }
}

main .item-km:active a h3{
    color: #b07ccc;
}

@media (max-width: 575px){
    main .container {
    max-width: 80%;
    margin: 0 auto;
}
main .grid{
    display: grid;
    grid-template-columns: auto;
    gap:1rem;
    }
    
}
@media (min-width: 576px){
    main .container {
        max-width: 80%;
        margin: 0 auto;
    }
    main .grid{
        display: grid;
        grid-template-columns: auto auto;
        gap:1rem;
    }
    
}
@media (min-width: 780px) {
    main .container {
        max-width: 80%;
        margin: 0 auto;
    }
    main .grid{
        display: grid;
        grid-template-columns: auto auto ;
        gap:1rem;
    
    } 
    
} 
@media (min-width: 1200px) {
    main .container {
        max-width: 80%;
        margin: 0 auto;
    }
    main .grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap:1rem;
    }
    
} 


/* Footer */
footer {
    height: fit-content;
    background-color: #33324260;
    border-top: 1px solid rgba(255, 255, 255, 0.134);
    padding: 2%;
    width: 100vw;
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
}

.company,
.contact,
.term-privicy {
    width: fit-content;
}

.footer-logo-brand a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 550;
}

.footer-heading {
    font-size: 1rem;
}

.footer-logo-brand .footer-logo{
    width: 2rem;
    transition: all 0.2s;
}

.footer-logo-brand a:hover  {
    & .footer-logo{
        transform: rotate(10deg);
    }
    
    color: #b7b7b7;
}

.Company .slogan{
    font-style: italic;
}



.contact-list a,
.contact-list p,
.service-footer a,
.term-privicy a{
    color: white;
    text-decoration: none;
    margin: 0;
}

.footer-icon {
    transition: all 0.2s;
}

.contact-list a:hover {
    color: #a5a5a5;

    & i {
        font-size: 0.9rem;
    }
}

.service-footer a:hover,
.term-privicy a:hover {
    color: #a5a5a5;
}


.contact-list,
.service-footer,
.term-privicy {
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px) {
    .contact,
    .service-footer {
        border-left: 1px solid rgba(255, 255, 255, 0.467);
        border-right: 1px solid rgba(255, 255, 255, 0.467);
    }

}


@media (max-width: 768px) {

    main h1 {
        margin: 30% 10px 8%;
    }

    .contact {
        padding: 1% 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.467);
    }

    .term-privicy {
        padding: 1% 0;
        border-top: 1px solid rgba(255, 255, 255, 0.467);
    }
    
    footer {
        text-align: center;
    }
}